.benefits {
	margin: 100px 0;
	&__header {
		font-weight: 700;
		font-size: 40px;
		color: $text-color-dark;
		text-align: center;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		width: 370px;
		height: auto;
		padding: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		border: 2px solid orange;
		border-radius: 20px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
	}
	&__img {
		width: 20%;
		height: 100%;
	}
	&__text {
		width: 70%;
	}
	&__subheader {
		font-weight: 700;
		font-size: 23px;
		color: $text-color-dark;
	}
	&__textarea {
		font-weight: 400;
		font-size: 17px;
		color: gray;
		margin: 0;
	}
}
