.top {
	background-color: rgba(255, 255, 255, 1);
	height: 100px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logotitle {
		height: 100%;
		width: 500px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 100px;
		height: 100px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		font-size: 20px;
		text-align: center;
		font-weight: 590;
	}
	&__subtitle {
		font-size: 16px;
		text-align: center;
		margin: 0;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&_tel {
			text-decoration: none;
			color: $text-color-dark;
			font-size: 20px;
			font-weight: 400;
		}
	}
	&__button {
		background-color: orange;
		border: none;
		border-radius: 20px;
		height: 50px;
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-weight: 400;
		transition: 0.3s all ease-in-out;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		color: $text-color-dark;
		&:hover {
			transform: scale(1.05);
		}
	}
}
